:root {
    --navbar-height: 50px;
    --footer-height: 50px;
    --page-padding-x: 40px;
    --product-card-height: 300px;
    --product-card-width: 250px;

    --btn-text-size: 12px;

    --space-s: 10px;
    --space-m: 25px;
    --space-l: 40px;

    --bg-color: #f5f4f4;
    --btn-color: rgba(255, 255, 255, 0.8);
    --btn-hover-color: rgb(245, 245, 245);

    --box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
