@import "styles/_config";

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: white;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    padding: 0 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    &__links {
        display: flex;
        align-items: center;

        > * {
            margin: 0 10px;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__link {
        color: black;
        font-size: 12px;
    }

    &__logo {
        color: black;
        font-weight: 600;
        font-size: 18px;

        span {
            color: red;
        }
    }

    &__icon {
        height: 20px;
        width: 20px;
    }

    &__item-indicator {
        position: absolute;
        top: -7px;
        right: -17px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 10px;
            color: white;
            line-height: 0;
        }
    }
}
