@import "styles/_config";

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: white;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    padding: 0 calc(var(--page-padding-x) - 10px);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    &__hamburger {
        display: none;
    }

    &__hamburger-checkbox {
        display: none;
    }

    &__hamburger-img {
        display: none;
    }

    &__hamburger-icon {
        display: none;
    }

    &__links {
        display: flex;
        align-items: center;

        > * {
            margin: 0 10px;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 17px;
    }

    &__link {
        color: black;
        font-size: 12px;

        &:hover {
            color: rgb(68, 68, 68);
        }
    }

    &__logo {
        color: black;
        font-weight: 600;
        font-size: 18px;
        margin: 0;

        span {
            color: red;
        }
    }

    &__icon {
        height: 20px;
        width: 20px;
    }

    &__item-indicator {
        position: absolute;
        top: -7px;
        right: 0px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 10px;
            color: white;
            line-height: 0;
        }
    }

    @media (max-width: 510px) {
        width: 100vw;
        position: fixed;

        &__hamburger {
            display: block;
        }

        &__hamburger-checkbox {
            cursor: pointer;
        }

        &__hamburger-checkbox:checked ~ .nav__text-links {
            visibility: visible;
            transform: translateY(1);
            opacity: 1;
            transition: 0.3s;
        }

        &__hamburger-img {
            display: block;
            height: 20px;
        }

        &__hamburger-icon {
            display: block;
        }

        &__text-links {
            visibility: hidden;
            transform: translateY(0);
            opacity: 0;
            transition: 0.3s;
            position: absolute;
            top: 49px;
            left: 0;
            flex-direction: column;
            width: 100vw;
            background-color: white;
            margin: 0;
            padding: 10px 0;
            box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);

            > * {
                padding: 10px 0;
            }
        }

        &__link {
            font-size: 14px;
        }
    }
}
